/*---------------------- Initialization Starts Here ----------------------*/

:root {
    --color-primary: #52de97;
    --color-secondary: #3c9d9b;
    --color-tertiary: #394a6d;
        
    --back-color-1:rgb(240, 240, 240);
    --back-color-2:rgb(255, 255, 255);
    --back-color-3:rgb(230,230,230);
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 1.6;
    
    
}

h2 {
    font-size: 2.5rem;
    word-spacing: 0.2rem;
    text-align: center;
    margin-bottom: 3rem;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: var(--color-tertiary);
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h1,h2,h3{
    font-weight: 300;
}

main{
    display: grid;
    grid-template-rows: 90vh repeat(5,min-content);
    grid-template-columns: repeat(6,1fr);
}

section{
    padding: 1rem;
}

/*---------------------- Initialization Ends Here ----------------------*/

/*---------------------- Header Starts Here ----------------------*/

.header{
    background-repeat: no-repeat;
    background-position-y: 20%;
    padding-bottom: 0cm;
    background-attachment: fixed;
    grid-column: 1 / -1;
    box-sizing: content-box;
}

.nav-container{
    margin-top: 0rem;
}

.main-nav{
    display: flex;
    list-style: none;
    align-items: flex-start;
    
}

.logo-item{
    flex-grow: 1;
}




.nav-item{
    padding: 0 4rem;
    font-size: 2rem;
    padding-right: 4rem;
    color: rgb(196, 30, 30);
    font-weight: 300;
}
/*---------------------- heading tabs starts Here ----------------------*/

.footer {
    background-color: #011c3ae7;
    grid-column: 1 / -1;
    padding: 1rem; }
  
  .nav {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem;
    align-items: center; }
    .nav__link:link, .nav__link:visited {
      font-size: 2rem;
      color: #fff;
      text-decoration: none;
      font-family: "Josefin Sans", sans-serif;
      text-transform: uppercase;
      text-align: center;
      padding: 1.5rem;
      display: block;
      transition: all 0.2s; }
    .nav__link:hover, .nav__link:active {
      background-color: rgba(238, 131, 220, 0.288);
      transform: translateY(px); }
/*----------------------login ----------------------*/
.login{
    
   padding-top: 3cm;
   padding-left: 40%;
}
#LoginLabel{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
    font-size: 20px;
}

#labelid{
    color: white;
    padding-right: 25px;
    font: size 16px; 
}
#labelpassword{
    color: white;
    padding-right: 20px;
    font: size 16px;
}
#LoginEmail{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 15px;
    margin-left: 1%;
    padding: 10px;
    border-radius: 10px;
    width: 450;
    height: 50px;   
}
#Loginpassword{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 15px;
    margin-left: 1%;
    padding: 10px;
    border-radius: 10px;
    width: 450;
    height: 50px;   
}
#LoginSubmit{
    width: 100px;
    height: 40px;
    margin-top: 20px;
    margin-left: 80px;
    background-color: transparent;
    border-radius: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-align: center;
}
#LoginEmail:focus{
        border: 1px solid rgb(0, 135, 197);
}
#LoginPassword:focus{
    border: 1px solid rgb(0, 135, 197);
}
.logo{
    margin-top: 8px;
    width: 10rem;
    height: 30px;;
    width: 30px;
    margin-left: 5px;
    text-align: center;
}
.labellogout{
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 90%;
    width: 10rem;
    text-decoration: none;
     font-family: "Josefin Sans", sans-serif;

}
.homelogo{
   height: 30px;
   width: 30px;
   padding-left: 2rem;
  
 
}


/*---------------------- lo10gin ends Here ----------------------*/

/*---------------------- Header ends Here ----------------------*/

/*---------------------- Feature 1 Starts Here ----------------------*/


.my-plan{
    background-color: var(--back-color-1);
    grid-column: 1 / -1;
}

.my-plan__container{
    display: flex;
}

.my-plan__map{
    width: 60%;
    background-color: var(--back-color-3);
    border-radius: 10px;
    overflow: hidden;

    /*For Testing Puropse*/
    background-image: url(../img/maps-1.png);
    background-size: cover;
}

.form-box{
    width: 40%;
    background-color: var(--back-color-3);
    padding: 2rem;
    margin-right: 2rem;
    border-radius: 10px;
    overflow: hidden;
}

.my-plan-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type=text],
select,
textarea {
    width: 80%;
    padding: 1rem;
    margin: 2rem;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.button{
    display: inline-block;
    padding: 10px 30px;
    margin-top: 2rem;
    font-weight: 300;
    text-decoration: none;
    border: none;
    border-radius: 200px !important;
    background-color: var(--color-tertiary);
    color: #eee;
}

/*---------------------- bus analysis----------------------*/

.bus-stop-nearby{
    background-color: var(--back-color-2);
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bus-stop-nearby__map{
    width: 100%;
    height: 40rem;
    background-color: var(--back-color-3);
    border-radius: 10px;
    overflow: hidden;

    /*For testing purpose*/
    background-image: url(../img/maps-near-stop.png);
    background-size: cover;
}

#monitor_bus{
    background-color:	#ffeeee;
    grid-column: 1 / -1;
    padding:1rem;
}
#slt_bus{
    margin-top:  250px;
    font-size: 20px;
    color: #394a6d;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    font-weight:  bold;
    margin-right: 10px;
    margin-left:150px;
    
}
#slt_busno{
    font-size: 20px;
    color: #394a6d;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    font-weight:  bold;
    margin-left:40px;
    margin-right: 10px;
}
#select_date{
        width: 12%;
        height: 30px;
        box-shadow: 0 2px 4px rgb(1 14 40 / 15%);

}
#bus_no{
    width:80px;
    height: 20px;
    box-shadow: 0 2px 4px rgb(1 14 40 / 30%);

    
}
#sr_button{
    margin-left: 40px;
    font-size: 20px;
    border-radius: 5px;
    color:#394a6d;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    outline: #3c9d9b;
    box-shadow: 0 2px 4px rgb(1 14 40 / 20%);

}
#sr_button:hover{
    background-color: #394a6d;
    color: #eee;
}
.peaple_count{
    font-size: 20px;
    color: #394a6d;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    font-weight:  bold;
    margin-right: 10px;
    margin-left:150px;
}
.ticket_scan{
    font-size: 20px;
    color: #394a6d;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    font-weight:  bold;
    margin-right: 10px;
    margin-left:150px;
    margin-top:  10px; ;
}
.peaple_getcount{
    background-color:white;
    width: 150px;
    position: relative; 
    margin-left: 150px;
    margin-top: 10px;
    padding: 4rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bolder; 
    color: #475b83;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(1 14 40 / 30%);
    transition: box-shadow .25s linear,-webkit-box-shadow .25s linear;
}
.ticket_count{
    background-color:white;
    width: 150px;
    position: relative; 
    margin-left: 150px;
    margin-top: 10px;
    padding: 4rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bolder; 
    color: #475b83;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(1 14 40 / 30%);
    transition: box-shadow .25s linear,-webkit-box-shadow .25s linear;
}
.fas fa-search{
    size: 25px;
    color: #394a6d;
}
/*---------------------- bus info starts Here ----------------------*/

.bus-info{
    background-color: var(--back-color-1);
    grid-column: 1 / -1;
}

#bus-number-box{
    margin-right: 1rem;
}

.bus-info__container{
    display: flex;
}

.bus-list__container{
    width: 30%;
    background-color: var(--back-color-2);
    margin-right: 2rem;
}

.bus-list{
    margin: 0 2rem;
    height: 30rem;
    overflow: scroll;
}

.list-item{
    display: flex;
    padding: 1rem;
    align-items: center;
    border-bottom: 1px solid #ccc;
    transition: all 0.3s;
}

.list-item:active,
.list-item:hover
{
    background-color: var(--back-color-3);
}

.bus-no{
    color: white;
    background-color: var(--color-tertiary);
    padding: 1rem;
    font-size: 1.5rem;
    margin-right: 2rem;
    border-radius: 3px;
}

.route-name{
    font-size: 1.5rem;
    font-weight: 400;   
}

.bus-routes{
    width: 70%;
    background-color: var(--back-color-2);
}

.route-item iframe{
    width: 100%;
    height: 40rem;
}

/*---------------------- employee starts Here ----------------------*/

.contact{
    grid-column: 1 / -1;
}

.form-container{
    width: 70vw;
    margin: 0 auto;
    font-size: 1.5rem;
}

.contact-form{
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: 1fr 3fr;
    justify-items: center;    
    align-items: center
}

.contact-form input[type=text],
.contact-form select,
.contact-form textarea {
    margin: 0rem;
}

.contact-form label{
    justify-self: end;
}

.contact-from-submit{
    margin-top: 3rem;
    transform: translateX(35rem);
}
.employeetable{
    width: 100%;
    align-items: center;
    font-size: 16px;
    text-align: center;
}
.fas fa-home, fas fa-poll-h{
    margin-left: 5px;
    size: 16px;
}

#map{
    height:100%;
    width: 100%;
}
